<button ng-click="$ctrl.navigateBack()">Back</button>

<h2>Pets List</h2>

<!--add pet field-->
<div>
  <input type="text" placeholder="Pet Name" data-ng-model="$ctrl.Pet.Name" />
  <button data-ng-click="$ctrl.addPet()">Add</button>
</div>
<!------------------>

<caption>Total count {{ $ctrl.petsData.length }} </caption>

<!----pets table--->
<table ng-cloak>
  <thead>
  <tr>
    <th>Name</th>
  </tr>
  </thead>

  <tbody>
  <tr ng-repeat="pet in $ctrl.petsData | startFrom: $ctrl.startingItem() | limitTo: $ctrl.itemsPerPage">
    <td> {{ pet.name }} </td>
    <td>
      <button ng-click="$ctrl.deletePet($index)">Delete</button>
    </td>
  </tr>
  </tbody>
</table>
<!--------------------->

<!---- pagination ----->
<div>
    <button ng-disabled="$ctrl.firstPage()" ng-click="$ctrl.pageBack()">Back</button>
    <span>{{$ctrl.currentPage+1}} from {{$ctrl.numberOfPages()}}</span>
    <button  ng-disabled="$ctrl.lastPage()" ng-click="$ctrl.pageForward()">Forward</button>
</div>
<!--------------------->
