﻿<h2>Users List</h2>

<!-- user field-->
<div>
    <input type="text" placeholder="User Name" data-ng-model="$ctrl.User.Name" />
    <button data-ng-click="$ctrl.addUser()">Add</button>
</div>
<!------------------>

<caption>Total count {{ $ctrl.usersData.length }} </caption>

<!----users table--->
<table ng-cloak>
    <thead>
        <tr>
            <th>Name</th>
            <th>Pets Count</th>
        </tr>
    </thead>

    <tbody>
        <tr ng-repeat="user in $ctrl.usersData | startFrom: $ctrl.startingItem() | limitTo: $ctrl.itemsPerPage">
            <td> {{ user.name }} </td>
            <td> {{ user.pets.length }} </td>
            <td>
                <button ng-click="$ctrl.deleteUser($index)">Delete</button>
            </td>
            <td>
                <button ng-click="$ctrl.editPets(user.userId)">Edit Pets</button>
            </td>
        </tr>
    </tbody>
</table>
<!--------------------->

<!---- pagination ----->
<div>
    <button ng-disabled="$ctrl.firstPage()" ng-click="$ctrl.pageBack()">Back</button>
    <span>{{$ctrl.currentPage+1}} from {{$ctrl.numberOfPages()}}</span>
    <button ng-disabled="$ctrl.lastPage()" ng-click="$ctrl.pageForward()">Forward</button>
</div>
<!--------------------->